$textCenter :center;
$padding5 : 5% ;
$margin8 : 8%;  
$sizeImgHeight :90px ; 
$sizeImgWidth :80px; 
$positionImg :relative;
$positionLeftImg :30%;  
$colorH3 :green; 

h1{
    text-align: $textCenter;
}

h3{
    color: $colorH3;
}



.contenaire{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left:25px;
    margin-right:50px;
    padding: 10px;
    grid-gap: 10px;
    .item{
        padding: $padding5;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;  
            position: $positionImg;
            left: $positionLeftImg;  
        }
    }
    /**
    .item2{
        padding: $padding5 ;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg;     
        }
    }
    
    
    .item3{
        padding: $padding5 ;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg; 
        }
    }
    
    .item4{
        padding: $padding5;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg; 
        } 
    }
    */
}



@media screen and (max-width: 768px){
    .item{
        grid-column: 1/4;
    }

    .contenaire{
        display: flex;
        flex-direction: column;
        text-align: center;
        .item img{
            position: relative;
            left: 0;
        }
    }



    /** .item2{
        grid-row: 2/3;
        width: 200%; grid-column: 1/4;
        
    } 
    */
    
    /*
    .item3{
        grid-row: 3/4;
        width: 200%;
        grid-column: 1/4;
    }
    */

    /*
    .item4{
        grid-row: 4/5;
        grid-column: 1/4;
       width: 200%;
    }
    */
}

/**Interface 2**/
.card{
    position: relative;
    left: 29%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3%;
    .interface2H1{
        text-align: left;
    }

    img{
        position: relative;
        right: 4%;
    }

    table th {
        position: relative;
        right:14%;
    }

    table td {
        position: relative;
        right:14%;
    }

    .userAndNumber{
        position: relative;
        left: 27%;
    }
    
    .topActive{
        position: relative;
        left: 0;
    }    
}

@media screen and (max-width: 768px){
    table th {
        position: relative;
        right:10%;
    }

    table td {
        position: relative;
        right:10%;
    }

    .userAndNumber{
        position: relative;
        left: 23%;
    }
    
    .topActive{
        position: relative;
        left: 0;
    } 
    
    .card{
        position: relative;
        left: 5%;
        padding: 5%;
    }
}

