$textCenter :center;
$padding5 : 5% ;
$margin8 : 8%;  
$sizeImgHeight :90px ; 
$sizeImgWidth :80px; 
$positionRelative :relative;
$positionLeftImg :30%;  
$colorH3 :green; 

h1{
    text-align: $textCenter;
}

h3{
    color: $colorH3;
}



.contenaire{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left:25px;
    margin-right:50px;
    padding: 10px;
    grid-gap: 10px;
    .item{
        padding: $padding5;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;  
            position: $positionRelative;
            left: $positionLeftImg;  
        }
    }
    /**
    .item2{
        padding: $padding5 ;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg;     
        }
    }
    
    
    .item3{
        padding: $padding5 ;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg; 
        }
    }
    
    .item4{
        padding: $padding5;
        img{
            height:$sizeImgHeight;
            width: $sizeImgWidth;
            position: $positionImg;
            left: $positionLeftImg; 
        } 
    }
    */
}



@media screen and (max-width: 768px){
    .item{
        grid-column: 1/4;
    }

    .contenaire{
        display: flex;
        flex-direction: column;
        text-align: center;
        .item img{
            position: $positionRelative;
            left: 0;
        }
    }

    table th {
        position: $positionRelative;
        right:10%;
    }

    table td {
        position: $positionRelative;
        right:10%;
    }

    .userAndNumber{
        position: $positionRelative;
        left: 23%;
    }
    
    .topActive{
        position: $positionRelative;
        left: 0;
    } 
    
    .card{
        position: $positionRelative;
        left: 5%;
        padding: 5%;
    }

    img{
        width: 50%;
        position: $positionRelative;
        right: 4%;
    }

    .card-title{
        margin-top: 10%;
    }

    .card-img{
        position: $positionRelative;
        left: 1%;
    }



    /** .item2{
        grid-row: 2/3;
        width: 200%; grid-column: 1/4;
        
    } 
    */
    
    /*
    .item3{
        grid-row: 3/4;
        width: 200%;
        grid-column: 1/4;
    }
    */

    /*
    .item4{
        grid-row: 4/5;
        grid-column: 1/4;
       width: 200%;
    }
    */
}

/**************************************Interface 2*************************************/
.card{
    position: $positionRelative;
    left: 29%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3%;
    .interface2H1{
        text-align: left;
    }

    img{
        position: $positionRelative;
        right: 4%;
        
    }

    table th {
        position: $positionRelative;
        right:14%;
    }

    table td {
        position: $positionRelative;
        right:14%;
    }

    .userAndNumber{
        position: $positionRelative;
        left: 27%;
    }
    
    .topActive{
        position: $positionRelative;
        left: 0;
    }    
}

.btn{
    margin-left: 40%;
}



/*********************Interface3************************/
.avatar{
    width: $sizeImgWidth;
    height: $sizeImgHeight;
}

.card-img{
    margin-bottom: 14px;
    height: 108%;
    width: 90%;
}
